* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#suggested {
  margin: 1rem 0;
}

#suggested a {
  background: #cc2a28;
  padding: 10px;
  display: inline-block;
  margin: 10px 10px 10px 0;
  color: white;
}

.footer {
  background-color: #37718e;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1080px;
}
.profile div {
  padding: 5px;
}
.profileName {
  text-align: center;
}
#placeholderImage {
  max-width: 200px;
}
.flex-box {
  display: flex;
  justify-content: center;
}

.logo h1{color: #000;}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 180px;
  border-radius: 50px;
}



.nav-list a,
.rightNav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-list a:hover,
.rightNav a:hover {
  color: black;
}

.rightnav {
  width: 30%;
  text-align: right;
}

#search {
  display: flex;
  padding: 1rem;
}
#search input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf {
  text-align: center;
}
.secondHalf a{
  margin: 20px 0;
  padding: 9px 12px !important
}

.secondhalf img {
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}

.text-small {
  font-size: 18px;
}

.btn {
  margin-left: 20px;
  height: 33px;
  width: 70px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}
.section.section {
  flex: 1;
}
.section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.right-details{
  flex-grow:3;
}
.card-inner{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mh-50{
  min-height: 50vh;
  background-color: #efefef;
}
.full {
  width: 100%;
}
.card {
  margin: 1rem;
  border: 1px solid #bfbfbf !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.section-Left {
  flex-direction: row-reverse;
}

.center {
  text-align: center;
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
}

.label {
  margin-top: 20px;
  display: block;
  font-size: larger;
  padding: 5px;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  min-width: 300px;
  max-width: 100%;
}

input[type="text"] {
  text-indent: 5px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input[type="password"] {
  text-indent: 5px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input[type="email"] {
  text-indent: 5px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#registration select {
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 1rem;
}
#registration label {
  font-weight: bold;
}

#registration textarea {
  text-indent: 5px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 1rem;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 100%;
}

#registration input[type="submit"] {
  width: fit-content;
  align-self: center;
}

input[type="submit"] {
  background: #254e70;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid black;
  color: #fff;
  padding: 8px 15px;
}

input[type="submit"]:hover {
  background: grey;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
}

.login-form li {
  margin-top: 10px;
  list-style-type: none;
  display: block;
  text-decoration: inherit;
  color: inherit;
}
.login-form li a {
  list-style-type: none;
  display: block;
  text-decoration: inherit;
  color: inherit;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

h1,
h2,
h3 {
  color: #37718e;
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.row {
  display: flex;
  height: 100%;
}

.profileform {
  display: inline-block;
  width: 50%;
}

.formtext {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo {
  display: inline-block;
  width: 50%;
  width: min-content;
}

#registration {
  display: flex;
  flex-direction: column;
}

#registration input {
  padding: 5px;
  margin: 1rem;
}

.underline {
  text-decoration-line: underline;
  padding-left: 10px;
}

.registrationapp {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding-top: 50px;
  padding-bottom: 50px;
}

.login-form-registration {
  background-color: white;
  padding: 2rem;
}


.nav-list {
	display: inline-block;
  }

  
.navbar {
	display: block;
	
	background: #cc2a28;
	margin-bottom: 1rem;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor: pointer;
  }
  
.nav-list , .rightNav {
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 5px;
  }

  #view_profile{
    background-color: #cc2a28;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 0;
    color: white;
  }


  .right-details div{
    justify-content: end;
  }
  @media only screen and (max-width: 500px) {
    #placeholderImage {
      max-width: 160px;
  }
  .card-inner div{
    width: 100%;
  }
  .image-details, .card-inner div, .card-inner p{
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 500px) {
  
  .login-form-registration {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .registrationapp {
    background-color: rgb(250, 250, 250);
  }
  .app {
	background-color: rgb(250, 250, 250);
  }
  .profile div {
	padding: 1rem;
  }

  .nav-list {
	width: 70%;
	display: flex;
	align-items: center;
  }

  .nav-list li {
	padding: 15px 20px;
  }

  .navbar {
	display: flex;
  }

}



.login-form-registration li {
  margin-top: 10px;
  list-style-type: none;
  display: block;
  text-decoration: inherit;
  color: inherit;
}
.login-form-registration li a {
  list-style-type: none;
  display: block;
  text-decoration: inherit;
  color: inherit;
}
